$post-widget-gutter: 0.67em; 
.article{
	.more-link{
		font-size: $font-size-meta;
		color: $color-meta;
		&:after{
			content: '...';
		}
	}
	blockquote{
		border-left: 3px solid rgba(0,0,0,.8);
		padding-left: 20px;
		margin-left: -23px;
		width: 100%;
		@media screen and (max-width: $width-phone) {
			margin-left: -10px;
    	}
	}
	img{
		max-width: 100%;
	}
	.post__widget{
		color: $color-meta;
		font-size: $font-size-meta;
		margin-bottom: $post-widget-gutter;
		a{
			color: $color-meta;
			text-decoration: none;
		}
	}
}