.page-index{
  .main-col{
    @media screen and (max-width: $width-phone) {
      margin: 0 -10px;
    }
  }
  .post-index{
    max-width: 660px;
    margin: 0 auto 10px;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border-radius: $border-radius;
    .post-content{
      padding: 20px;
    }
  }
  #fixTitle {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;

    pointer-events: none;
    .title {
      font-size: 24px;

      display: inline-block;

      min-width: 200px;
      margin: 0;
      padding: 15px 0;

      background: #fff;
    }
  }

  @media screen and (max-width: $width-phone) {
    #fixTitle {
      background: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      .title {
        display: block;
      }
    }
  }
}
