// Color
$color-background: #fff;
$color-font: #0d0000;
$color-meta: rgba(0,0,0,.44);;
$color-border: #7c848c;
$color-link: #000;
$color-link-hover: #000;

// custom
$color-base: #00ab6b;
$font-size-meta: 0.8em;
$border-radius: 3px;

// Font
$font-default: 'Microsoft Yahei', sans-serif;
$font-serif: serif;
$font-mono: Monaco, Menlo, Consolas, 'Courier New', monospace;

// Width
$width-wide: 1200px;
/* 1366 * 768 */
$width-normal: 768px;
/* iPhone 6+ 414px */
$width-phone: 500px;
