// Color
$color-background: #fff;
$color-font: #0d0000;

$color-border: #7c848c;
$color-link: #000;
$color-link-hover: #000;

// custom
$color-font-base: rgba(0, 0, 0, 0.7);
$color-font-strong: #000;
$font-size-meta: 12px;
$border-radius: 3px;
$gutter: 20px;
$color-meta: rgba(0,0,0,.44);
$color-highlight: rgba(233, 253, 240, 1);
$color-accent: #02B875;
$mobile-gutter: 10px;

// Font
$font-default: 'Microsoft Yahei', sans-serif;
$font-serif: serif;
$font-mono: Monaco, Menlo, Consolas, 'Courier New', monospace;

// Width
$width-wide: 1200px;
/* 1366 * 768 */
$width-normal: 740px;
/* iPhone 6+ 414px */
$width-phone: 500px;
